@{
    ViewData["Title"] = "Home Page";
}

<h2>ViewHome/Index</h2>
<form asp-action="Index">
    <label>Name</label><br />
    <input type="text" Name="FullName" /><br />
    <label>Email</label><br>
    <input type="email" name="Email"><br>
    <input type="submit" value="Gui"><br>
</form>
<h2>@ViewBag.name</h2>
